Repository Recipe-Web-App/meal-plan-management-service, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github, github-actions, docker, configuration, typescript, javascript, nestjs, tests, database, auth, api, meal-plans, health, config, shared, dto, scripts

chore: removed leftover ingress references in repo
  k8s/README.md
  k8s/networkpolicy.yaml
  scripts/containerManagement/README.md
  scripts/containerManagement/get-container-status.sh
Labels: documentation, configuration, scripts

Remove kong config (#252)
  k8s/README.md
  k8s/gateway-route.yaml
  k8s/networkpolicy.yaml
  scripts/containerManagement/README.md
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
  scripts/containerManagement/update-container.sh
Labels: documentation, configuration, scripts

bd migrate-sync: initial sync branch setup
  .beads/issues.jsonl
  .beads/metadata.json
Labels: configuration

feat(beads): integrated beads with repository
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .gitattributes
  .gitignore
  .markdownlintignore
  AGENTS.md
Labels: documentation, configuration

feat(beads): integrated beads with repository (#253)
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .gitattributes
  .gitignore
  .markdownlintignore
  AGENTS.md
Labels: documentation, configuration

chore: updated claude config
  CLAUDE.md
Labels: documentation

chore: updated claude config (#254)
  CLAUDE.md
Labels: documentation

fix: fixed local run impl
  package.json
  src/app.module.ts
  src/config/env.validation.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/guards/jwt-auth.guard.spec.ts
  src/modules/auth/guards/jwt-auth.guard.ts
  src/modules/auth/strategies/jwt.strategy.spec.ts
  src/modules/auth/strategies/jwt.strategy.ts
  src/modules/health/health.service.ts
Labels: dependencies, configuration, typescript, nestjs, tests, auth, api, health, config

fix: fixed local run impl (#267)
  package.json
  src/app.module.ts
  src/config/env.validation.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/guards/jwt-auth.guard.spec.ts
  src/modules/auth/guards/jwt-auth.guard.ts
  src/modules/auth/strategies/jwt.strategy.spec.ts
  src/modules/auth/strategies/jwt.strategy.ts
  src/modules/health/health.service.ts
Labels: dependencies, configuration, typescript, nestjs, tests, auth, api, health, config

chore: migrated beads to dolt
  .beads/.gitignore
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/metadata.json
  AGENTS.md
Labels: documentation, configuration

chore: migrated beads to dolt (#281)
  .beads/.gitignore
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/metadata.json
  AGENTS.md
Labels: documentation, configuration

.github/labeler.yml:

---
# PR Labeler Configuration
# Automatically labels PRs based on changed files

# Dependencies
dependencies:
  - package.json
  - package-lock.json
  - npm-shrinkwrap.json

# Documentation
documentation:
  - '**/*.md'
  - docs/**/*
  - CLAUDE.md
  - README.md

# GitHub configuration
github:
  - .github/**/*

# Workflows
github-actions:
  - .github/workflows/**/*

# Docker
docker:
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# Configuration
configuration:
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.json'
  - .env.example

# Source code - TypeScript/JavaScript
typescript:
  - '**/*.ts'
  - '**/*.tsx'
  - src/**/*

javascript:
  - '**/*.js'
  - '**/*.jsx'

# NestJS specific
nestjs:
  - '**/*.module.ts'
  - '**/*.controller.ts'
  - '**/*.service.ts'
  - '**/*.guard.ts'
  - '**/*.interceptor.ts'
  - '**/*.filter.ts'
  - '**/*.pipe.ts'
  - '**/*.decorator.ts'

# Tests
tests:
  - '**/*.spec.ts'
  - '**/*.e2e-spec.ts'
  - test/**/*

# Database/Prisma
database:
  - prisma/**/*
  - prisma/schema.prisma
  - prisma/migrations/**/*
  - src/database/**/*
  - src/**/repositories/**/*

# Auth
auth:
  - src/modules/auth/**/*
  - src/**/auth/**/*

# API/Modules
api:
  - src/modules/**/*
  - src/**/*.controller.ts

# Meal Plans module
meal-plans:
  - src/modules/meal-plans/**/*

# Health checks
health:
  - src/modules/health/**/*

# Configuration
config:
  - src/config/**/*

# Shared/Utils
shared:
  - src/shared/**/*
  - src/utils/**/*

# DTOs
dto:
  - '**/*.dto.ts'

# Scripts
scripts:
  - scripts/**/*
  - '**/*.sh'
