Repository Recipe-Web-App/meal-plan-management-service, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github, github-actions, docker, configuration, typescript, javascript, nestjs, tests, database, auth, api, meal-plans, health, config, shared, dto, scripts

chore: upgraded prisma integration to support 7.0
  .gitignore
  Dockerfile
  package-lock.json
  package.json
  prisma.config.ts
  prisma/schema.prisma
  src/config/database.config.ts
  src/modules/meal-plans/meal-plans.repository.integration.spec.ts
  src/modules/meal-plans/meal-plans.repository.spec.ts
  src/modules/meal-plans/meal-plans.repository.transaction.spec.ts
  src/modules/meal-plans/meal-plans.repository.ts
  src/modules/meal-plans/meal-plans.service.ts
  src/modules/meal-plans/test-utils/meal-plan.factory.spec.ts
  src/modules/meal-plans/test-utils/meal-plan.factory.ts
  src/modules/meal-plans/test-utils/prisma.mock.ts
  src/shared/database/seed/database-seeder.spec.ts
  src/shared/database/seed/database-seeder.ts
  src/shared/database/seed/factories/meal-plan.factory.spec.ts
  src/shared/database/seed/factories/meal-plan.factory.ts
  src/shared/database/seed/factories/recipe.factory.ts
  src/shared/database/seed/factories/user.factory.ts
  src/shared/database/seed/test-database.spec.ts
  src/shared/database/transaction.service.spec.ts
  src/shared/database/transaction.service.ts
  src/test/__mocks__/prisma-client.ts
  tsconfig.build.json
  tsconfig.json
Labels: dependencies, docker, configuration, typescript, nestjs, tests, database, api, meal-plans, config, shared

chore: auto updated all pre commit hooks
  .pre-commit-config.yaml
  package-lock.json
Labels: dependencies, configuration

chore: auto updated all pre commit hooks (#223)
  .pre-commit-config.yaml
  package-lock.json
Labels: dependencies, configuration

feat(kong): migrated service from ingress nginx to kong gateway
  k8s/gateway-route.yaml
  k8s/ingress.yaml
  scripts/containerManagement/README.md
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
  scripts/containerManagement/update-container.sh
Labels: documentation, configuration, scripts

refactor(kong): updated service host references to use kong proxy
  CLAUDE.md
  docs/AUTHENTICATION.md
  docs/postman/Meal-Plan-Management-Development.postman_environment.json
  docs/postman/README.md
  src/config/oauth2.config.ts
Labels: documentation, configuration, typescript, config

Kong migration (#226)
  CLAUDE.md
  docs/AUTHENTICATION.md
  docs/postman/Meal-Plan-Management-Development.postman_environment.json
  docs/postman/README.md
  k8s/gateway-route.yaml
  k8s/ingress.yaml
  scripts/containerManagement/README.md
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
  scripts/containerManagement/update-container.sh
  src/config/oauth2.config.ts
Labels: documentation, configuration, typescript, config, scripts

fix: fixed algorithm for disk usage check in health/metric endpoints
  src/modules/health/health.service.ts
Labels: typescript, nestjs, api, health

fix: fixed algorithm for disk usage check in health/metric endpoints (#227)
  src/modules/health/health.service.ts
Labels: typescript, nestjs, api, health

feat(bun-migration): migrated package manager to bun
  bun.lock
  package-lock.json
  package.json
Labels: dependencies, configuration

feat(bun-migration): migrated tests to bun
  bun.lock
  package.json
  src/config/configuration.spec.ts
  src/config/database.config.spec.ts
  src/config/logger.config.spec.ts
  src/modules/auth/auth.service.spec.ts
  src/modules/auth/decorators/current-user.decorator.spec.ts
  src/modules/auth/guards/jwt-auth.guard.spec.ts
  src/modules/auth/guards/service-auth.guard.spec.ts
  src/modules/auth/services/service-auth.service.spec.ts
  src/modules/auth/services/token-validation.service.spec.ts
  src/modules/auth/strategies/jwt.strategy.spec.ts
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.service.spec.ts
  src/modules/meal-plans/meal-plans.controller.spec.ts
  src/modules/meal-plans/meal-plans.repository.integration.spec.ts
  src/modules/meal-plans/meal-plans.repository.spec.ts
  src/modules/meal-plans/meal-plans.repository.transaction.spec.ts
  src/modules/meal-plans/meal-plans.service.spec.ts
  src/modules/meal-plans/services/meal-plan-validation.service.spec.ts
  src/modules/meal-plans/utils/transformation.util.spec.ts
  src/modules/meal-plans/validators/meal-plan-overlap.validator.spec.ts
  src/modules/meal-plans/validators/recipe-exists.validator.spec.ts
  src/modules/metrics/metrics.controller.spec.ts
  src/modules/metrics/metrics.service.spec.ts
  src/modules/system/system.controller.spec.ts
  src/modules/system/system.service.spec.ts
  src/shared/database/connection.service.spec.ts
  src/shared/database/seed/database-seeder.spec.ts
  src/shared/database/seed/factories/meal-plan.factory.spec.ts
  src/shared/database/seed/factories/recipe.factory.spec.ts
  src/shared/database/seed/factories/user.factory.spec.ts
  src/shared/database/seed/test-database.spec.ts
  src/shared/database/transaction.service.spec.ts
  src/shared/filters/http-exception.filter.spec.ts
  src/shared/interceptors/correlation-id.interceptor.spec.ts
  src/shared/interceptors/response.interceptor.spec.ts
  src/shared/services/logger.service.spec.ts
  src/shared/services/request-context.service.spec.ts
Labels: dependencies, configuration, typescript, tests, auth, api, meal-plans, health, config, shared

feat(bun-migration): migrated github config to bun
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/database.yml
  .github/workflows/documentation.yml
  .github/workflows/environment.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
Labels: github, github-actions, configuration

feat(bun-migration): migrated pre-commit to bun & resolved errors
  .pre-commit-config.yaml
  bun.lock
  package.json
  src/modules/meal-plans/dto/create-meal-plan-recipe.dto.spec.ts
  src/modules/meal-plans/dto/create-meal-plan.dto.spec.ts
  src/modules/meal-plans/dto/meal-plan-by-id-query.dto.spec.ts
  src/modules/meal-plans/dto/meal-plan-query.dto.spec.ts
  src/modules/meal-plans/dto/meal-plan-response.dto.spec.ts
  src/modules/meal-plans/dto/meal-plan-statistics.dto.spec.ts
  src/modules/meal-plans/dto/meal-plan-view-responses.dto.spec.ts
  src/modules/meal-plans/dto/pagination.dto.spec.ts
  src/modules/meal-plans/dto/update-meal-plan.dto.spec.ts
  src/modules/meal-plans/test-utils/meal-plan.factory.spec.ts
  src/modules/meal-plans/utils/transformation.util.spec.ts
  src/modules/meal-plans/validators/date-range.validator.spec.ts
  src/modules/meal-plans/validators/sanitizers/simple-sanitizer.validator.spec.ts
  src/shared/database/seed/database-seeder.spec.ts
  src/shared/interceptors/correlation-id.interceptor.spec.ts
  src/shared/interceptors/response.interceptor.spec.ts
  tsconfig.build.json
  tsconfig.json
Labels: dependencies, configuration, typescript, tests, api, meal-plans, shared

feat(bun-migration): migrated dockerfile to bun
  .dockerignore
  Dockerfile
  bun.lock
  docker-compose.dev.yml
  package.json
  scripts/containerManagement/deploy-container.sh
Labels: dependencies, docker, configuration, scripts

feat(bun-migration): migrated docs to bun
  CLAUDE.md
  README.md
  docs/AUTHENTICATION.md
  docs/DATABASE.md
  docs/DATABASE_QUICK_REFERENCE.md
  docs/DATABASE_SETUP.md
Labels: documentation

ci(renovate): migrated from dependabot to renovate for bun support
  .github/DEPENDABOT.md
  .github/RENOVATE.md
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/validate-dependabot.yml
Labels: documentation, github, github-actions, configuration

ci(renovate): migrated from dependabot to renovate for bun support (#242)
  .github/DEPENDABOT.md
  .github/RENOVATE.md
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/validate-dependabot.yml
Labels: documentation, github, github-actions, configuration

fix: updated bun.lock
  bun.lock
Labels: none

fix: fixed broken ingress host reference in deployment script
  scripts/containerManagement/deploy-container.sh
Labels: scripts

Deployment fix (#244)
  bun.lock
  scripts/containerManagement/deploy-container.sh
Labels: scripts

docs(meal-plan-favs): updated open api spec with meal plan favorite endpoints
  docs/openapi/meal-plan-api.yaml
Labels: documentation, configuration

chore(meal-plan-favs): added models & types to support meal plan favorite endpoints
  src/modules/meal-plans/dto/index.ts
  src/modules/meal-plans/dto/meal-plan-favorite.dto.spec.ts
  src/modules/meal-plans/dto/meal-plan-favorite.dto.ts
Labels: typescript, tests, api, meal-plans, dto

chore(meal-plan-favs): updated prisma client to support meal plan favorite endpoints
  prisma/schema.prisma
Labels: database

feat(meal-plan-favs): updated repository/service/controller to support meal plan favorite endpoints
  src/modules/meal-plans/meal-plan-favorites.controller.spec.ts
  src/modules/meal-plans/meal-plan-favorites.controller.ts
  src/modules/meal-plans/meal-plan-favorites.repository.spec.ts
  src/modules/meal-plans/meal-plan-favorites.repository.ts
  src/modules/meal-plans/meal-plan-favorites.service.spec.ts
  src/modules/meal-plans/meal-plan-favorites.service.ts
  src/modules/meal-plans/meal-plans.module.ts
Labels: typescript, nestjs, tests, api, meal-plans

Add meal plan favorites (#245)
  docs/openapi/meal-plan-api.yaml
  prisma/schema.prisma
  src/modules/meal-plans/dto/index.ts
  src/modules/meal-plans/dto/meal-plan-favorite.dto.spec.ts
  src/modules/meal-plans/dto/meal-plan-favorite.dto.ts
  src/modules/meal-plans/meal-plan-favorites.controller.spec.ts
  src/modules/meal-plans/meal-plan-favorites.controller.ts
  src/modules/meal-plans/meal-plan-favorites.repository.spec.ts
  src/modules/meal-plans/meal-plan-favorites.repository.ts
  src/modules/meal-plans/meal-plan-favorites.service.spec.ts
  src/modules/meal-plans/meal-plan-favorites.service.ts
  src/modules/meal-plans/meal-plans.module.ts
Labels: documentation, configuration, typescript, nestjs, tests, database, api, meal-plans, dto

feat(meal-plan-tags): implemented support for meal plan tags
  docs/openapi/meal-plan-api.yaml
  prisma/schema.prisma
  src/modules/auth/auth.service.spec.ts
  src/modules/auth/guards/jwt-auth.guard.spec.ts
  src/modules/auth/guards/service-auth.guard.spec.ts
  src/modules/auth/services/service-auth.service.spec.ts
  src/modules/auth/services/token-validation.service.spec.ts
  src/modules/auth/strategies/jwt.strategy.spec.ts
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.service.spec.ts
  src/modules/meal-plans/dto/create-meal-plan.dto.ts
  src/modules/meal-plans/dto/index.ts
  src/modules/meal-plans/dto/meal-plan-response.dto.ts
  src/modules/meal-plans/dto/meal-plan-tag.dto.ts
  src/modules/meal-plans/dto/update-meal-plan.dto.ts
  src/modules/meal-plans/meal-plan-favorites.controller.spec.ts
  src/modules/meal-plans/meal-plan-favorites.repository.spec.ts
  src/modules/meal-plans/meal-plan-favorites.service.spec.ts
  src/modules/meal-plans/meal-plan-favorites.service.ts
  src/modules/meal-plans/meal-plan-tags.controller.spec.ts
  src/modules/meal-plans/meal-plan-tags.controller.ts
  src/modules/meal-plans/meal-plan-tags.repository.spec.ts
  src/modules/meal-plans/meal-plan-tags.repository.ts
  src/modules/meal-plans/meal-plan-tags.service.spec.ts
  src/modules/meal-plans/meal-plan-tags.service.ts
  src/modules/meal-plans/meal-plans.controller.spec.ts
  src/modules/meal-plans/meal-plans.module.ts
  src/modules/meal-plans/meal-plans.repository.integration.spec.ts
  src/modules/meal-plans/meal-plans.repository.spec.ts
  src/modules/meal-plans/meal-plans.repository.transaction.spec.ts
  src/modules/meal-plans/meal-plans.service.spec.ts
  src/modules/meal-plans/meal-plans.service.ts
  src/modules/metrics/metrics.controller.spec.ts
  src/shared/database/connection.service.spec.ts
  src/shared/database/seed/database-seeder.spec.ts
  src/shared/database/transaction.service.spec.ts
Labels: documentation, configuration, typescript, nestjs, tests, database, auth, api, meal-plans, health, shared, dto

feat(meal-plan-tags): implemented support for meal plan tags (#246)
  docs/openapi/meal-plan-api.yaml
  prisma/schema.prisma
  src/modules/auth/auth.service.spec.ts
  src/modules/auth/guards/jwt-auth.guard.spec.ts
  src/modules/auth/guards/service-auth.guard.spec.ts
  src/modules/auth/services/service-auth.service.spec.ts
  src/modules/auth/services/token-validation.service.spec.ts
  src/modules/auth/strategies/jwt.strategy.spec.ts
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.service.spec.ts
  src/modules/meal-plans/dto/create-meal-plan.dto.ts
  src/modules/meal-plans/dto/index.ts
  src/modules/meal-plans/dto/meal-plan-response.dto.ts
  src/modules/meal-plans/dto/meal-plan-tag.dto.ts
  src/modules/meal-plans/dto/update-meal-plan.dto.ts
  src/modules/meal-plans/meal-plan-favorites.controller.spec.ts
  src/modules/meal-plans/meal-plan-favorites.repository.spec.ts
  src/modules/meal-plans/meal-plan-favorites.service.spec.ts
  src/modules/meal-plans/meal-plan-favorites.service.ts
  src/modules/meal-plans/meal-plan-tags.controller.spec.ts
  src/modules/meal-plans/meal-plan-tags.controller.ts
  src/modules/meal-plans/meal-plan-tags.repository.spec.ts
  src/modules/meal-plans/meal-plan-tags.repository.ts
  src/modules/meal-plans/meal-plan-tags.service.spec.ts
  src/modules/meal-plans/meal-plan-tags.service.ts
  src/modules/meal-plans/meal-plans.controller.spec.ts
  src/modules/meal-plans/meal-plans.module.ts
  src/modules/meal-plans/meal-plans.repository.integration.spec.ts
  src/modules/meal-plans/meal-plans.repository.spec.ts
  src/modules/meal-plans/meal-plans.repository.transaction.spec.ts
  src/modules/meal-plans/meal-plans.service.spec.ts
  src/modules/meal-plans/meal-plans.service.ts
  src/modules/metrics/metrics.controller.spec.ts
  src/shared/database/connection.service.spec.ts
  src/shared/database/seed/database-seeder.spec.ts
  src/shared/database/transaction.service.spec.ts
Labels: documentation, configuration, typescript, nestjs, tests, database, auth, api, meal-plans, health, shared, dto

docs(trending-meal-plans): updated open api spec to include get-trending-meal-plans endpoint
  docs/openapi/meal-plan-api.yaml
Labels: documentation, configuration

feat(trending-meal-plans): updated service to support new endpoint
  src/modules/meal-plans/meal-plans.controller.spec.ts
  src/modules/meal-plans/meal-plans.controller.ts
  src/modules/meal-plans/meal-plans.repository.spec.ts
  src/modules/meal-plans/meal-plans.repository.ts
  src/modules/meal-plans/meal-plans.service.spec.ts
  src/modules/meal-plans/meal-plans.service.ts
Labels: typescript, nestjs, tests, api, meal-plans

Get trending meal plans impl (#247)
  docs/openapi/meal-plan-api.yaml
  src/modules/meal-plans/meal-plans.controller.spec.ts
  src/modules/meal-plans/meal-plans.controller.ts
  src/modules/meal-plans/meal-plans.repository.spec.ts
  src/modules/meal-plans/meal-plans.repository.ts
  src/modules/meal-plans/meal-plans.service.spec.ts
  src/modules/meal-plans/meal-plans.service.ts
Labels: documentation, configuration, typescript, nestjs, tests, api, meal-plans

fix(es-lint): fixed es-lint config in precommit
  .pre-commit-config.yaml
Labels: configuration

chore(es-lint): fixed all latent eslint findings in project
  src/config/database.config.spec.ts
  src/modules/auth/auth.service.spec.ts
  src/modules/auth/guards/service-auth.guard.spec.ts
  src/modules/auth/services/service-auth.service.spec.ts
  src/modules/auth/services/token-validation.service.spec.ts
  src/modules/auth/strategies/jwt.strategy.spec.ts
  src/modules/meal-plans/dto/meal-plan-by-id-query.dto.spec.ts
  src/modules/meal-plans/dto/update-meal-plan.dto.ts
  src/modules/meal-plans/meal-plan-favorites.service.spec.ts
  src/modules/meal-plans/meal-plan-favorites.service.ts
  src/modules/meal-plans/meal-plan-tags.service.spec.ts
  src/modules/meal-plans/meal-plans.controller.spec.ts
  src/modules/meal-plans/meal-plans.repository.spec.ts
  src/modules/meal-plans/meal-plans.repository.transaction.spec.ts
  src/modules/meal-plans/meal-plans.service.spec.ts
  src/modules/meal-plans/services/meal-plan-validation.service.spec.ts
  src/modules/meal-plans/test-utils/prisma.mock.ts
  src/modules/meal-plans/validators/meal-plan-overlap.validator.spec.ts
  src/modules/meal-plans/validators/recipe-exists.validator.spec.ts
  src/modules/metrics/metrics.controller.spec.ts
  src/shared/database/connection.service.spec.ts
  src/shared/database/seed/database-seeder.spec.ts
  src/shared/database/transaction.service.spec.ts
  src/shared/interceptors/correlation-id.interceptor.spec.ts
  src/shared/services/logger.service.spec.ts
  src/test/__mocks__/prisma-client.ts
Labels: typescript, nestjs, tests, auth, api, meal-plans, config, shared, dto

Eslint fix (#248)
  .pre-commit-config.yaml
  src/config/database.config.spec.ts
  src/modules/auth/auth.service.spec.ts
  src/modules/auth/guards/service-auth.guard.spec.ts
  src/modules/auth/services/service-auth.service.spec.ts
  src/modules/auth/services/token-validation.service.spec.ts
  src/modules/auth/strategies/jwt.strategy.spec.ts
  src/modules/meal-plans/dto/meal-plan-by-id-query.dto.spec.ts
  src/modules/meal-plans/dto/update-meal-plan.dto.ts
  src/modules/meal-plans/meal-plan-favorites.service.spec.ts
  src/modules/meal-plans/meal-plan-favorites.service.ts
  src/modules/meal-plans/meal-plan-tags.service.spec.ts
  src/modules/meal-plans/meal-plans.controller.spec.ts
  src/modules/meal-plans/meal-plans.repository.spec.ts
  src/modules/meal-plans/meal-plans.repository.transaction.spec.ts
  src/modules/meal-plans/meal-plans.service.spec.ts
  src/modules/meal-plans/services/meal-plan-validation.service.spec.ts
  src/modules/meal-plans/test-utils/prisma.mock.ts
  src/modules/meal-plans/validators/meal-plan-overlap.validator.spec.ts
  src/modules/meal-plans/validators/recipe-exists.validator.spec.ts
  src/modules/metrics/metrics.controller.spec.ts
  src/shared/database/connection.service.spec.ts
  src/shared/database/seed/database-seeder.spec.ts
  src/shared/database/transaction.service.spec.ts
  src/shared/interceptors/correlation-id.interceptor.spec.ts
  src/shared/services/logger.service.spec.ts
  src/test/__mocks__/prisma-client.ts
Labels: configuration, typescript, nestjs, tests, auth, api, meal-plans, config, shared, dto

docs: updated claude.md
  CLAUDE.md
Labels: documentation

docs: updated all outdated docs
  README.md
  docs/DATABASE.md
  docs/DATABASE_QUICK_REFERENCE.md
  k8s/README.md
Labels: documentation

Doc update (#249)
  CLAUDE.md
  README.md
  docs/DATABASE.md
  docs/DATABASE_QUICK_REFERENCE.md
  k8s/README.md
Labels: documentation

refactor(redis): updated redis config to support new database
  .env.example
  k8s/README.md
  k8s/configmap-template.yaml
  src/config/configuration.ts
  src/config/env.validation.ts
Labels: documentation, configuration, typescript, config

refactor(redis): updated redis config to support new database (#250)
  .env.example
  k8s/README.md
  k8s/configmap-template.yaml
  src/config/configuration.ts
  src/config/env.validation.ts
Labels: documentation, configuration, typescript, config

ci(renovate): added pre-commit to renovate config
  .github/renovate.json
Labels: github, configuration

ci(renovate): added pre-commit to renovate config (#251)
  .github/renovate.json
Labels: github, configuration

chore(ops-cli): removed gateway config from project
  k8s/gateway-route.yaml
  scripts/containerManagement/README.md
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/update-container.sh
Labels: documentation, configuration, scripts

.github/labeler.yml:

---
# PR Labeler Configuration
# Automatically labels PRs based on changed files

# Dependencies
dependencies:
  - package.json
  - package-lock.json
  - npm-shrinkwrap.json

# Documentation
documentation:
  - '**/*.md'
  - docs/**/*
  - CLAUDE.md
  - README.md

# GitHub configuration
github:
  - .github/**/*

# Workflows
github-actions:
  - .github/workflows/**/*

# Docker
docker:
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# Configuration
configuration:
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.json'
  - .env.example

# Source code - TypeScript/JavaScript
typescript:
  - '**/*.ts'
  - '**/*.tsx'
  - src/**/*

javascript:
  - '**/*.js'
  - '**/*.jsx'

# NestJS specific
nestjs:
  - '**/*.module.ts'
  - '**/*.controller.ts'
  - '**/*.service.ts'
  - '**/*.guard.ts'
  - '**/*.interceptor.ts'
  - '**/*.filter.ts'
  - '**/*.pipe.ts'
  - '**/*.decorator.ts'

# Tests
tests:
  - '**/*.spec.ts'
  - '**/*.e2e-spec.ts'
  - test/**/*

# Database/Prisma
database:
  - prisma/**/*
  - prisma/schema.prisma
  - prisma/migrations/**/*
  - src/database/**/*
  - src/**/repositories/**/*

# Auth
auth:
  - src/modules/auth/**/*
  - src/**/auth/**/*

# API/Modules
api:
  - src/modules/**/*
  - src/**/*.controller.ts

# Meal Plans module
meal-plans:
  - src/modules/meal-plans/**/*

# Health checks
health:
  - src/modules/health/**/*

# Configuration
config:
  - src/config/**/*

# Shared/Utils
shared:
  - src/shared/**/*
  - src/utils/**/*

# DTOs
dto:
  - '**/*.dto.ts'

# Scripts
scripts:
  - scripts/**/*
  - '**/*.sh'
